<p id="alert"><%= alert %></p>
<h1>ログイン</h1>
<%= form_tag login_path do |form| %>
  <div class="field'>
    <%= label_tag :メールアドレス %>
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
  </div>
<% end %>
