<h1>Home</h1>

<% if logged_in? %>
  Logged in as <%= current_user.email %>.
  <%= link_to "ログアウト", logout_path %>
<% else %>
  <p> ログインまたはユーザ登録してください。</p>
  <div>
  <%= link_to "ログイン", login_path %>
  </div>
  <div>
  <%= link_to "新規ユーザ登録", signup_path %>
  </div>
<% end %>

<p id=”notice”><%= notice %></p>
